// config
$old-ie: true;
$px-only: true;
$media-queries: false;

@import "lib/_functions.scss";
@import "lib/_common-mixins.scss";
@import "lib/_reset.scss";

@import "grid/_website-config.scss";
@import "grid/_grid-setting.scss";
@import "grid/_grid.scss";

