/* Grid System Gutters (Left/Right)
----------------------------------------- */
$grid-gutters: 5px;

/* Grid System Breakpoints
----------------------------------------- */
$grid-large-bp:  1280px;
$grid-medium-bp: 728px;
$grid-small-bp:  480px;