/* Website Gutters - Left:10px - Between Modules:20px - Right:10px
----------------------------------------- */
$website-horizontal-gutters: 0.625rem;

/* MediaQueries Aggressive Breakpoints (next converted into EM units)
----------------------------------------- */
$mq-small-bp   : 660px;  // 640px  2cols size + 20px scrollbar size
$mq-medium-bp  : 980px;  // 960px  3cols size + 20px scrollbar size
$mq-large-bp   : 1300px; // 1280px 4cols size + 20px scrollbar size

@if($grid-sizing == true){

	/* Website dimensions
	----------------------------------------- */
	$website-4cols-size : 80rem; // 1280px = 1260 + 20 gutters
	$website-3cols-size : 60rem; // 960px  = 940  + 20 gutters
	$website-2cols-size : 40rem; // 640px  = 620  + 20 gutters 
	$website-1col-size  : 20rem; // 300px  = 280  + 20 gutters

	@if($responsive-liquid-1col == true){
		$website-1col-size  : 32.1875rem; // 515px
	}

	/* MediaQueries Liquid Breakpoints (next converted into EM units)
	----------------------------------------- */
	@if ($responsive-liquid == true) {
		$mq-small-bp   : 499px;    // below 499px:  smartphones, small devices
		$mq-medium-bp  : 799px;    // below 799px:  big smartphones, small tablets
		$mq-large-bp   : 1023px;   // below 1023px: tablets, small screens
	}

	/* Grid Layout Settings
	----------------------------------------- */
	.page-wrap,
	.page-wrap-fluid {
		margin:0 auto;
	}

	.page-top-padding {
		padding-top:u(1.25rem);
	}
	.skin-link {
		display:none; // avoid a skin-link displayed without skin.css injected
	}

	@if ($responsive-liquid == false) {

	/* Agressive responsive mode */
		.page-wrap {
			max-width:u($website-4cols-size);
		}
		@include mq('large'){
			.page-wrap {
				max-width:u($website-3cols-size);
			}
		}
		@include mq('medium'){
			.page-wrap {
				max-width:u($website-2cols-size);
			}
		}
		@include mq('small'){
			.page-wrap {
				max-width:u($website-1col-size);
			}
		}

	} @else {

		/* Liquid responsive mode */
		.page-wrap {
			max-width:u($website-4cols-size); 
		}
	}

	/* If media-queries are disabled, set the page width equal to the largest col */
	@if ($media-queries == false) {
		.page-wrap {
			width:u($website-4cols-size);
		}
	}

	/* Page wrap fluid isn't related to page wrap and all reponsive stuff */
	.page-wrap-fluid {
		max-width:u($website-4cols-size);
	}
	@include old-ie {
		.page-wrap-fluid {
			width:u($website-4cols-size);
		}
	}
}