/* Default browsers pixel base
----------------------------------------- */
$pixelBase : 16;

/* Constrain grid with dimension
----------------------------------------- */
$grid-sizing:true;

/* Liquid responsive mode
----------------------------------------- */
$responsive-liquid:false;

/* Liquid responsive mode 1 col only
----------------------------------------- */
$responsive-liquid-1col:false;

